<div *ngIf="type==='common'">
    <div class="card text-white bg-dark mb-3" *ngFor="let item of data">
        <div class="row g-0">
            <div *ngIf="item.media.length>0" class="col-md-4">
                <img src="{{item.media[0]['media-metadata'][0]['url']}}" [alt]="item.media.caption">
            </div>
            <div class="col-md-8">
                <div class="card-header">{{item.updated}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.abstract}}</p>
                    <a [routerLink]="['/articles', item.uri]" class="card-link">Ver mas</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="type!='common'">
    <div class="card text-white bg-dark mb-3" *ngFor="let item of data">
        <div class="row g-0">
            <div *ngIf="item.multimedia.length>0" class="col-md-4">
                <img [src]="urlImage+item.multimedia[0]['url']" width="50%">
            </div>
            <div class="col-md-8">
                <div class="card-header">{{item.pub_date}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{item.headline.main}}</h5>
                    <p class="card-text">{{item.abstract}}</p>
                    <a [routerLink]="['/articles', item.web_url]" class="card-link">Ver mas</a>
                </div>
            </div>
        </div>
    </div>
</div>